flows.json
[
    {
        "id": "ba1b3ae1685f3b87",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "94c096634109fedd",
        "type": "tab",
        "label": "Jogo da Velha",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "250d19c283d5cd7a",
        "type": "tab",
        "label": "Fluxo 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "18ba7717d193af41",
        "type": "group",
        "z": "94c096634109fedd",
        "name": "Simulação de jogadas",
        "style": {
            "label": true
        },
        "nodes": [
            "c679bed74fb484c3",
            "856196d6ac9acfda",
            "73b7685926e68b1a",
            "14d22c4566b65dcf",
            "c93e02f7b9961f36",
            "115d76fc35fe7dd0"
        ],
        "x": 74,
        "y": 99,
        "w": 172,
        "h": 282
    },
    {
        "id": "0b77a8f6aac113c3",
        "type": "group",
        "z": "94c096634109fedd",
        "name": "Tabuleiro",
        "style": {
            "label": true
        },
        "nodes": [
            "96aef0cccf0fdc5c",
            "76083df57a63e663",
            "fd3ebf0b06f95b5c",
            "4fc30023986b7792",
            "3c638e8b49f1d333",
            "e15c2c90744e20df",
            "34c077b03ab5c772",
            "9805f7456524d75d",
            "2de87c7bc626fcd5",
            "9a2e4f1c402ae280",
            "96af12d699d21439",
            "6fca7cd8d68be878",
            "379727ef90b71207",
            "f5caf43b5e09704a",
            "fe807abaac9f4080",
            "1e10fcedc9a0befd",
            "0c9a7ab431cfbfe8",
            "48255bd4a4709b50"
        ],
        "x": 514,
        "y": 159,
        "w": 432,
        "h": 402
    },
    {
        "id": "ba39bb468fbd6c40",
        "type": "group",
        "z": "94c096634109fedd",
        "name": "Legenda",
        "style": {
            "label": true
        },
        "nodes": [
            "db20b23d85f33066",
            "125dd858a0511ed2"
        ],
        "x": 74,
        "y": 419,
        "w": 172,
        "h": 122
    },
    {
        "id": "4214204c6b657779",
        "type": "group",
        "z": "94c096634109fedd",
        "name": "Jogada",
        "style": {
            "label": true
        },
        "nodes": [
            "a734cc08880df795",
            "36c2d06e61e3c01b",
            "831ac5beadb186ad"
        ],
        "x": 74,
        "y": 619,
        "w": 432,
        "h": 162
    },
    {
        "id": "5733d016c91ffa64",
        "type": "serial-port",
        "name": "",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "3c8dc69489485c61",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#75f07d",
                "baseFont": "Copperplate,Copperplate Gothic Light,fantasy",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#75f07d",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#75f07d",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#baf7be",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#75f07d",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Copperplate,Copperplate Gothic Light,fantasy"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "24c5be8eb8e013cd",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "2a14ed15075b0b2f",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "24c5be8eb8e013cd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26eddee3a8248161",
        "type": "serial-port",
        "name": "",
        "serialport": "",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "21549fbdc510852d",
        "type": "serial-port",
        "name": "",
        "serialport": "COM5",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "67486c5137115809",
        "type": "serial-port",
        "name": "",
        "serialport": "COM5",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "feecf077a3b2992d",
        "type": "ui_tab",
        "name": "Jogo da Velha",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "54d3ab37c084d545",
        "type": "ui_group",
        "name": "Tabuleiro",
        "tab": "feecf077a3b2992d",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "66220178c14d0fff",
        "type": "ui_group",
        "name": "Legenda",
        "tab": "feecf077a3b2992d",
        "order": 2,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d41c0c9a5be67ac3",
        "type": "ui_group",
        "name": "Jogada",
        "tab": "feecf077a3b2992d",
        "order": 3,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "43dc4a2b18b38714",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "9e7e5587eeab1c32",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "1dee1ba2ee0b3e5a",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "856e0d26083f0bc4",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "ef13a6feffe856c0",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 8,
        "width": 8,
        "height": 1
    },
    {
        "id": "7edebceabcb3a95a",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "62fcfab020de5027",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "d6d74fa2e7d0c5b1",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "1ae548c725b2a957",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "ee7d7085f47effa2",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 16,
        "width": 8,
        "height": 1
    },
    {
        "id": "943483c3490428d1",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "6d38333a71d5c1bc",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "7697c08202dd5feb",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "b2ad0cd52c9f3ee1",
        "type": "ui_spacer",
        "z": "94c096634109fedd",
        "name": "spacer",
        "group": "54d3ab37c084d545",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "1b214600.17935a",
        "type": "ui_group",
        "name": "Default",
        "tab": "b8fb94f4.0d31d8",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b8fb94f4.0d31d8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a32a1f3cbc5d4822",
        "type": "debug",
        "z": "ba1b3ae1685f3b87",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "5e4ca9883a464deb",
        "type": "ui_text",
        "z": "ba1b3ae1685f3b87",
        "group": "2a14ed15075b0b2f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperatura",
        "label": "",
        "format": "{{msg.payload.temperatura}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "68770cff5999af5f",
        "type": "ui_text",
        "z": "ba1b3ae1685f3b87",
        "group": "2a14ed15075b0b2f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Umidade",
        "label": "",
        "format": "{{msg.payload.umidade}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 260,
        "wires": [],
        "inputLabels": [
            "lala"
        ]
    },
    {
        "id": "25355777bce0be3a",
        "type": "serial in",
        "z": "ba1b3ae1685f3b87",
        "name": "",
        "serial": "67486c5137115809",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "33efbed0523ff15a",
                "c2a1bd8b9b8418d6"
            ]
        ]
    },
    {
        "id": "c2a1bd8b9b8418d6",
        "type": "debug",
        "z": "ba1b3ae1685f3b87",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "33efbed0523ff15a",
        "type": "json",
        "z": "ba1b3ae1685f3b87",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "a32a1f3cbc5d4822",
                "5e4ca9883a464deb",
                "68770cff5999af5f"
            ]
        ]
    },
    {
        "id": "6efd371089001de6",
        "type": "json",
        "z": "ba1b3ae1685f3b87",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 290,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c679bed74fb484c3",
        "type": "inject",
        "z": "94c096634109fedd",
        "g": "18ba7717d193af41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabuleiro\": \"000000000\"}",
        "payloadType": "str",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "5403eaa18832bf8e"
            ]
        ]
    },
    {
        "id": "4145b1a2a8524f37",
        "type": "debug",
        "z": "94c096634109fedd",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 80,
        "wires": []
    },
    {
        "id": "5403eaa18832bf8e",
        "type": "json",
        "z": "94c096634109fedd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "4145b1a2a8524f37",
                "96aef0cccf0fdc5c",
                "76083df57a63e663",
                "fd3ebf0b06f95b5c",
                "4fc30023986b7792",
                "3c638e8b49f1d333",
                "e15c2c90744e20df",
                "34c077b03ab5c772",
                "9805f7456524d75d",
                "2de87c7bc626fcd5"
            ]
        ]
    },
    {
        "id": "856196d6ac9acfda",
        "type": "inject",
        "z": "94c096634109fedd",
        "g": "18ba7717d193af41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabuleiro\": \"121201011\"}",
        "payloadType": "str",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "5403eaa18832bf8e"
            ]
        ]
    },
    {
        "id": "73b7685926e68b1a",
        "type": "inject",
        "z": "94c096634109fedd",
        "g": "18ba7717d193af41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabuleiro\": \"201211210\"}",
        "payloadType": "str",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "5403eaa18832bf8e"
            ]
        ]
    },
    {
        "id": "14d22c4566b65dcf",
        "type": "inject",
        "z": "94c096634109fedd",
        "g": "18ba7717d193af41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabuleiro\": \"111200121\"}",
        "payloadType": "str",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "5403eaa18832bf8e"
            ]
        ]
    },
    {
        "id": "c93e02f7b9961f36",
        "type": "inject",
        "z": "94c096634109fedd",
        "g": "18ba7717d193af41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabuleiro\": \"012221110\"}",
        "payloadType": "str",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "5403eaa18832bf8e"
            ]
        ]
    },
    {
        "id": "115d76fc35fe7dd0",
        "type": "inject",
        "z": "94c096634109fedd",
        "g": "18ba7717d193af41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabuleiro\": \"121212121\"}",
        "payloadType": "str",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "5403eaa18832bf8e"
            ]
        ]
    },
    {
        "id": "96aef0cccf0fdc5c",
        "type": "function",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "name": "0",
        "func": "msg.payload = msg.payload.tabuleiro[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 200,
        "wires": [
            [
                "9a2e4f1c402ae280"
            ]
        ]
    },
    {
        "id": "76083df57a63e663",
        "type": "function",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "name": "1",
        "func": "msg.payload = msg.payload.tabuleiro[1]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 240,
        "wires": [
            [
                "96af12d699d21439"
            ]
        ]
    },
    {
        "id": "fd3ebf0b06f95b5c",
        "type": "function",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "name": "2",
        "func": "msg.payload = msg.payload.tabuleiro[2]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "6fca7cd8d68be878"
            ]
        ]
    },
    {
        "id": "4fc30023986b7792",
        "type": "function",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "name": "3",
        "func": "msg.payload = msg.payload.tabuleiro[3]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 320,
        "wires": [
            [
                "379727ef90b71207"
            ]
        ]
    },
    {
        "id": "3c638e8b49f1d333",
        "type": "function",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "name": "4",
        "func": "msg.payload = msg.payload.tabuleiro[4]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 360,
        "wires": [
            [
                "f5caf43b5e09704a"
            ]
        ]
    },
    {
        "id": "e15c2c90744e20df",
        "type": "function",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "name": "5",
        "func": "msg.payload = msg.payload.tabuleiro[5]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 400,
        "wires": [
            [
                "fe807abaac9f4080"
            ]
        ]
    },
    {
        "id": "34c077b03ab5c772",
        "type": "function",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "name": "6",
        "func": "msg.payload = msg.payload.tabuleiro[6]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "1e10fcedc9a0befd"
            ]
        ]
    },
    {
        "id": "9805f7456524d75d",
        "type": "function",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "name": "7",
        "func": "msg.payload = msg.payload.tabuleiro[7]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 480,
        "wires": [
            [
                "0c9a7ab431cfbfe8"
            ]
        ]
    },
    {
        "id": "2de87c7bc626fcd5",
        "type": "function",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "name": "8",
        "func": "msg.payload = msg.payload.tabuleiro[8]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 520,
        "wires": [
            [
                "48255bd4a4709b50"
            ]
        ]
    },
    {
        "id": "9a2e4f1c402ae280",
        "type": "ui_led",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "order": 2,
        "group": "54d3ab37c084d545",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led 0",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "96af12d699d21439",
        "type": "ui_led",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "order": 3,
        "group": "54d3ab37c084d545",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led 1",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "6fca7cd8d68be878",
        "type": "ui_led",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "order": 4,
        "group": "54d3ab37c084d545",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led 2",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "379727ef90b71207",
        "type": "ui_led",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "order": 10,
        "group": "54d3ab37c084d545",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led 3",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "f5caf43b5e09704a",
        "type": "ui_led",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "order": 11,
        "group": "54d3ab37c084d545",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led 4",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "fe807abaac9f4080",
        "type": "ui_led",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "order": 12,
        "group": "54d3ab37c084d545",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led 5",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "1e10fcedc9a0befd",
        "type": "ui_led",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "order": 18,
        "group": "54d3ab37c084d545",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led 6",
        "x": 870,
        "y": 440,
        "wires": []
    },
    {
        "id": "0c9a7ab431cfbfe8",
        "type": "ui_led",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "order": 19,
        "group": "54d3ab37c084d545",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led 7",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "48255bd4a4709b50",
        "type": "ui_led",
        "z": "94c096634109fedd",
        "g": "0b77a8f6aac113c3",
        "order": 20,
        "group": "54d3ab37c084d545",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led 8",
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "db20b23d85f33066",
        "type": "ui_button",
        "z": "94c096634109fedd",
        "g": "ba39bb468fbd6c40",
        "name": "",
        "group": "66220178c14d0fff",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Jogador 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "125dd858a0511ed2",
        "type": "ui_button",
        "z": "94c096634109fedd",
        "g": "ba39bb468fbd6c40",
        "name": "",
        "group": "66220178c14d0fff",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Jogador 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a734cc08880df795",
        "type": "debug",
        "z": "94c096634109fedd",
        "g": "4214204c6b657779",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 660,
        "wires": []
    },
    {
        "id": "36c2d06e61e3c01b",
        "type": "ui_form",
        "z": "94c096634109fedd",
        "g": "4214204c6b657779",
        "name": "",
        "label": "",
        "group": "d41c0c9a5be67ac3",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Faça sua jogada",
                "value": "jogada",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "jogada": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "831ac5beadb186ad",
                "a734cc08880df795"
            ]
        ]
    },
    {
        "id": "831ac5beadb186ad",
        "type": "function",
        "z": "94c096634109fedd",
        "g": "4214204c6b657779",
        "name": "Função Verificar Jogada",
        "func": "let str = msg.payload.jogada\nlet numeros = str.split('').map(Number); // Divide a string em caracteres e converte cada um em número\nconsole.log(\"Numeros:\", numeros); // [2, 2]\nconsole.log(\"Primeiro número:\", numeros[0])\nconsole.log(\"Segundo número:\", numeros[1])\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "b573f57d.6290e8",
        "type": "ui_button",
        "z": "250d19c283d5cd7a",
        "name": "",
        "group": "1b214600.17935a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Do stuff",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "textInput",
        "payloadType": "flow",
        "topic": "",
        "x": 580,
        "y": 320,
        "wires": [
            [
                "cc26e2d4.ffd35",
                "b42b2908.665408"
            ]
        ]
    },
    {
        "id": "1330b995.eb0626",
        "type": "ui_text_input",
        "z": "250d19c283d5cd7a",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "1b214600.17935a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "7ba1f4df.b12a7c",
                "2ffeee02.29d762"
            ]
        ]
    },
    {
        "id": "cc26e2d4.ffd35",
        "type": "function",
        "z": "250d19c283d5cd7a",
        "name": "my function that does stuff",
        "func": "msg.payload +=  \" - payload modified in my function\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 320,
        "wires": [
            [
                "bcad70c7.b9db",
                "a0241251.a9cc4"
            ]
        ]
    },
    {
        "id": "bcad70c7.b9db",
        "type": "ui_text",
        "z": "250d19c283d5cd7a",
        "group": "1b214600.17935a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Result: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1020,
        "y": 320,
        "wires": []
    },
    {
        "id": "2ffeee02.29d762",
        "type": "change",
        "z": "250d19c283d5cd7a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 260,
        "wires": [
            [
                "fe2d6e02.ad949"
            ]
        ]
    },
    {
        "id": "7ba1f4df.b12a7c",
        "type": "debug",
        "z": "250d19c283d5cd7a",
        "name": "Text entry debug node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "b42b2908.665408",
        "type": "debug",
        "z": "250d19c283d5cd7a",
        "name": "Button click debug node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 820,
        "y": 380,
        "wires": []
    },
    {
        "id": "fe2d6e02.ad949",
        "type": "switch",
        "z": "250d19c283d5cd7a",
        "name": "is text empty?",
        "property": "textInput",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 260,
        "wires": [
            [
                "db2479e4.104468"
            ],
            [
                "fa23a260.4e161"
            ]
        ]
    },
    {
        "id": "db2479e4.104468",
        "type": "change",
        "z": "250d19c283d5cd7a",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 240,
        "wires": [
            [
                "eb06ed9d.7f23f"
            ]
        ]
    },
    {
        "id": "fa23a260.4e161",
        "type": "change",
        "z": "250d19c283d5cd7a",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 280,
        "wires": [
            [
                "eb06ed9d.7f23f"
            ]
        ]
    },
    {
        "id": "eb06ed9d.7f23f",
        "type": "link out",
        "z": "250d19c283d5cd7a",
        "name": "",
        "links": [
            "58d47e08.81ffc"
        ],
        "x": 1190,
        "y": 260,
        "wires": []
    },
    {
        "id": "58d47e08.81ffc",
        "type": "link in",
        "z": "250d19c283d5cd7a",
        "name": "",
        "links": [
            "eb06ed9d.7f23f"
        ],
        "x": 450,
        "y": 320,
        "wires": [
            [
                "b573f57d.6290e8"
            ]
        ]
    },
    {
        "id": "93b54b1c.311778",
        "type": "inject",
        "z": "250d19c283d5cd7a",
        "name": "Init with empty string",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 500,
        "y": 220,
        "wires": [
            [
                "1330b995.eb0626"
            ]
        ]
    },
    {
        "id": "a0241251.a9cc4",
        "type": "debug",
        "z": "250d19c283d5cd7a",
        "name": "After function debug node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1120,
        "y": 380,
        "wires": []
    }
]